form {
    .controls {
        ul {
            list-style-type: none;
            padding-left: 0;
            margin-left: 0;
            li {
                padding-left: 0;
                margin-left: 0;
            }
        }
    }
}

input, textarea {
    max-width: 300px;
}

.form-field {
    padding-bottom: 20px;
}

.form-actions {
    padding-top: 20px;
}

#footer {
    text-align: center;
    font-size: 10px;
    margin: 50px 50px 0 50px;
    padding: 20px 0;
    border-top: 1px solid rgb(187, 189, 190);
    clear: both;
}